.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    background-color: #000000; /* Fondo negro */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente invisible */
}

.scroll-to-top.visible {
    opacity: 1; /* Visible cuando la clase 'visible' está presente */
    visibility: visible; /* Visible cuando la clase 'visible' está presente */
}

.scroll-to-top-icon {
    color: white;
    font-size: 24px;
}

.scroll-to-top:hover .scroll-to-top-icon {
    color: #ccc; /* Color gris claro para hover */
}
