.whatsapp-button {
    position: fixed;
    bottom: 20px;
    left: 40px; /* Ajusta según sea necesario */
    background-color: #000000; /* Fondo negro */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* Asegurar que no haya subrayado */
}

.whatsapp-icon {
    color: white; /* Color del ícono */
    font-size: 35px;
}

.whatsapp-button:hover .whatsapp-icon {
    color: #ccc; /* Color gris claro para hover */
}
