body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
}

header {
    background-color: #ffffff; /* Blanco */
    color: black;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: black; /* Letras negras */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #666666; /* Gris oscuro para el hover */
}

section {
    padding: 60px 20px;
    text-align: center;
}

section#hero {
    background: url('./assets/hero-background.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px; /* Ajustar el padding para llevar el contenido más arriba */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajustar la altura */
    position: relative; /* Asegurar que los elementos se posicionen dentro de este contenedor */
}

.hero-content {
    text-align: center;
    max-width: 600px; /* Limitar el ancho del contenido del hero */
    margin-top: -50px; /* Mover el contenido más arriba */
}

section#hero h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

section#hero p {
    font-size: 24px;
    margin: 0 0 20px;
}

.hero-button {
    background-color: #000000; /* Negro */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Bajar el botón */
    display: block; /* Asegurar que el botón sea un bloque */
    width: fit-content; /* Ajustar el ancho al contenido */
    margin-left: auto; /* Centrar el botón horizontalmente */
    margin-right: auto; /* Centrar el botón horizontalmente */
}

.hero-button:hover {
    background-color: #333333; /* Gris oscuro para el hover */
}

.reserve-button-container {
    text-align: center;
    margin: 40px 0; /* Margen para separar las secciones */
}

.reserve-button {
    background-color: #000000; /* Negro */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #333333; /* Gris oscuro para el hover */
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.service-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 300px;
    text-align: center;
}

.service-item h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #000000; /* Negro */
}

.service-item p {
    font-size: 16px;
    color: #666666; /* Gris oscuro */
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.faq-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: left;
}

.faq-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000; /* Negro */
}

.faq-item p {
    font-size: 16px;
    color: #666666; /* Gris oscuro */
}

footer {
    background-color: #000000; /* Negro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}

form {
    display: flex;
    flex-direction: column;
   	align-items: center;
    background-color: white; /* Fondo claro para el formulario */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    margin: 15px 0;
    width: 100%;
    max-width: 500px;
    color: #000000; /* Negro */
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    background-color: #f9f9f9; /* Fondo claro para los campos del formulario */
    color: #333333; /* Gris oscuro */
}

form input:focus, form textarea:focus {
    border-color: #000000; /* Negro */
}

form button {
    background-color: #000000; /* Negro */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333333; /* Gris oscuro para el hover */
}

.testimonials-carousel {
    display: flex;
    justify-content: center; /* Centramos el carrusel horizontalmente */
    align-items: center; /* Centramos verticalmente los elementos dentro del carrusel */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none; /* Firefox */
}

.testimonials-carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.testimonial-item {
    background-color: white; /* Fondo claro para los elementos de testimonios */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-width: 300px;
    max-width: 90%; /* Limitar el ancho máximo */
    scroll-snap-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centrar cada elemento dentro del carrusel */
}

.testimonial-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial-item blockquote {
    font-style: italic;
    margin: 10px 0;
    text-align: center; /* Centrar el texto del bloque de citas */
}

.testimonial-item cite {
    font-size: 14px;
    color: #666666; /* Gris oscuro */
    text-align: center; /* Centrar el texto del citador */
}
